:root {
    --white: rgb(255, 255, 255);
    --dark-blue: #73a5c6;
    --tan: #d8a47f;
    --border-radius: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark-blue);
  }


header {
    padding: 40px;
    text-align: center;
    background: var(--dark-blue);
    color: var(--white);
  }

img {
    width: 100%;
    height: auto;
 } 
h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
 
 h2 {
     margin-bottom: 5px;
     
 } 
main {
    background-color: var(--dark-blue);
     color: white;
}
nav {
    display: flex;
    background-color: var(--dark-blue);
    text-align: center;
  }

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: underline;
    text-align: center;
}

nav a:hover {
    background-color: lightskyblue;
    color: var(--dark-blue);
  }

.about {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px; 
}

.content {
    width: 100%;
    display: inline-block;
    margin-right: 15px;
}



table {
    width: 100%;
}

td {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 15px;
}
tr {
    align-content: center;
}




/*p {
    display: inline-block;
    justify-content: space-between;
}*/


.section {
    margin-bottom: 20px;
    padding: 50px;
    height: 30px;
    border-radius: var(--white);
    border: var(--white);
    align-content: space-around;
}    

h2 {
    text-align: center;
}

.section.contact {
    text-align: center;
    display: inline-block;
    padding: 20px;
}
    

footer {
    text-align: center;
    padding: 50px;
}

